.App {
  text-align: center;
}

h2 {
  color: #444444;
  text-align: center;
}

#login-box {
  margin: 35px auto;
}
  
.MuiBox-root {
  display: flex;
  flex-direction: column;
  // height: 90vh;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color:#cfe8fc;
}
.login-box {
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 8px;   
}

// left side
.channel-list {
  display: flex;
  flex-direction: column;
  padding: 10px;

  
}
.messages-wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.message-container {
  margin: 0 20px 20px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  .messages {
    
    &-bubble {
      background-color: #ccc;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      margin-right: 20%;

      &_image {
        width: 90vw;
      }

      &_text {
        margin-bottom: 10px;
        font-style: italic;
      }

      &_info-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: .875rem;

        &--delete {
          font-size: .75rem;
          &:hover {
            cursor: pointer;
          }
        }
        &--user {
          
          font-weight: bold;
        }
      }
    }

    &-is-user {
      background-color: #1976d2;
      color: #fff;
      margin-left: 20%;
      margin-right: 0;
    }
  }
}

.chat-container {
  margin: 20px;
}


  
li.memberListItem .greenText > p {
  color: green;
  font-weight: bold;
}

li.channelListItem .previewText > p {
  font-style: italic;
}






